<!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
  <meta charset="utf-8">
  <title></title>
 </head>
 <body>
  <form method="post">

  <label for="reference_date">Reference Date</label>
  <input type="text" name="reference_date" value="">

  <label for="src_currency">Source Currency</label>
  <input type="text" name="src_currency" value="">


  <label for="dest_currency">Target Currency</label>
  <input type="text" name="dest_currency" value="">



  <label for="current_amount">Amount to Convert</label>
  <input type="number" value="{{ current_amount }}" name="current_amount" />

  <input type="submit" value="Convert">

</form>

 </body>
</html>
